{% extends 'checkout.html' %}

{% block checkout_div %}
<script type="module">
  import {
    loadOptions,
    setOptions
  } from "{{ url_for('static', filename='utils.js') }}";
  import {
    setupEventListeners,
    buildScriptElement
  } from "{{ url_for('static', filename='checkout.js') }}";
  import loadPaymentMethods from "{{ url_for('static', filename='checkout-selector.js') }}";
  import buyerNotPresentCheckout from "{{ url_for('static', filename='checkout-buyer-not-present.js') }}";
  window.addEventListener('load', async function() {
    const options = loadOptions()
    window.sessionStorage.clear()
    setOptions(options)

    buildScriptElement(loadPaymentMethods, 'selector')
    setupEventListeners(() => {
      buildScriptElement(loadPaymentMethods, 'selector')
    })

    document.getElementById('buyer-not-present-checkout').addEventListener('click', buyerNotPresentCheckout)
  })
</script>
<div id="checkout-selector">
  <formset>
    <legend>
      Payment Methods
    </legend>
    <label>
      <input type="radio" name="payment-option" value="cards" checked>
      Credit/Debit Card
    </label>
    <label>
      <input type="radio" name="payment-option" value="paypal">
      PayPal
    </label>
    <label>
      <input type="radio" name="payment-option" value="venmo">
      Venmo
    </label>
    <label>
      <input type="radio" name="payment-option" value="alternate">
      Alternate
    </label>
  </formset>
  <div id="payment-container">
    <header>Selected Payment Method</header>
    <div id="cards-container">
      <form id="hf-v2-form">
        <label for="card-number">Card Number</label>
        <div id="card-number"></div>

        <label for="expiration-date">Expiration Date</label>
        <div id="expiration-date"></div>

        <label for="cvv">CVV</label>
        <div id="cvv"></div>

        <label for="cardholder-name">Name on Card</label>
        <input type="text" form="options-form" id="cardholder-name" name="cardholder-name" placeholder="Card holder name">
        <label>Billing Address</label>
        <input type="text" form="options-form" id="billing-address-line-1" name="billing-address-line-1" placeholder="Street address">
        <input type="text" form="options-form" id="billing-address-line-2" name="billing-address-line-2" placeholder="Unit">
        <input type="text" form="options-form" id="billing-address-admin-area-1" name="billing-address-admin-area-1" placeholder="City">
        <input type="text" form="options-form" id="billing-address-admin-area-2" name="billing-address-admin-area-2" placeholder="State">
        <input type="text" form="options-form" id="billing-address-postal-code" name="billing-address-postal-code" placeholder="Postal code">
        <input type="text" form="options-form" id="billing-address-country-code" name="billing-address-country-code" placeholder="Country code">

        <button value="submit" id="pay-button">Pay</button>
      </form>
    </div>
    <div id="paypal-button-container"></div>
    <div id="venmo-button-container"></div>
    <div id="alternate-button-container" style="display: none;">
      <button type="button">AlternaPay</button>
    </div>
  </div>
</div>
{% endblock checkout_div %}